  <script type="text/x-handlebars">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{appName}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">{{#linkTo index}}Home{{/linkTo}}</li>
              {{#if currentUser}}
                <li>{{#linkTo user currentUser}}{{currentUser.name}}{{/linkTo}}</li>
                <li>{{#linkTo signout}}Sign Out{{/linkTo}}</li>
              {{else}}
                <li><a href="/auth/facebook">FB sign in</a></li>
              {{/if}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">

      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <h2>{{title}}</h2>
  </script>

  <script type="text/x-handlebars" data-template-name="user">
    <h2>Personal Details:</h2>
    <ul>
      <li>Name: {{model.name}}</li>
      <li>Email: {{model.email}}</li>
    </ul>
    <h2>Planned Trips:</h2>
      {{#each trip in model.trips}}
        <li>{{#linkTo trip trip}}{{trip.name}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="trip">
    <h2>{{model.name}}</h2>
    <p>Details coming.</p>
  </script>

  <script type="text/javascript">
    var currentUserId = "<%= session[:user_id] %>";
  </script>
