  <script type="text/x-handlebars">
    <div id="user_nav">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
    <ul class="nav">
      <li>{{#linkTo index}}Home{{/linkTo}}</li>
    </ul>
    <h1>{{appName}}</h1>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <h2>{{title}}</h2>
  </script>

  <script type="text/x-handlebars" data-template-name="user">
    <ul>
      <li>{{model.name}}</li>
      <li>{{model.email}}</li>
      <li>{{model.allTheThings}}</li>
    </ul>
  </script>

  <script type="text/javascript">
    var currentUserId = "<%= session[:user_id] %>";
  </script>
