  <script type="text/x-handlebars">
    <h1>{{appName}}</h1>
    <h2>{{title}}</h2>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="user">
    <ul>
      <li>{{model.name}}</li>
      <li>{{model.email}}</li>
      <li>{{model.allTheThings}}</li>
    </ul>
  </script>

  <script type="text/javascript">
    var currentUserId = "<%= session[:user_id] %>";
  </script>
