  <script type="text/x-handlebars">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{appName}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">{{#linkTo index}}Home{{/linkTo}}</li>
              <% if current_user %>
                <li>{{#linkTo index}}<%= current_user.name %>{{/linkTo}}</li>
                <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
              <% else %>
                <li><%= link_to "FB sign in", "/auth/facebook", id: "sign_in" %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <h2>{{title}}</h2>
  </script>

  <script type="text/x-handlebars" data-template-name="user">
    <ul>
      <li>{{model.name}}</li>
      <li>{{model.email}}</li>
      <li>{{model.allTheThings}}</li>
    </ul>
  </script>

  <script type="text/javascript">
    var currentUserId = "<%= session[:user_id] %>";
  </script>
